
.signUpBackground{
  background-image: url('./assets/register.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
.signinBackground{
  background-image: url('./assets/login.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
input::placeholder, textarea::placeholder {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
a:active { background-color: lightgrey; color: black; }
.card{
  width: 80%;
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.modal{
  width: 60%;
}
@media (max-width: 600px) {
  .modal {
    width: 100%;
  }
}
.cursor-pointer{
  cursor: pointer;
}