
.signUpBackground{
  background-image: url('./assets/Register.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
.signinBackground{
  background-image: url('./assets/Register.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100%;
}
input::placeholder, textarea::placeholder {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
a:focus {
  color: red;
}
.card{
  width: 80%;
}